NET "a" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "b" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;
NET "c" LOC = P33 | IOSTANDARD = LVTTL | PULLUP;
NET "pwr" LOC = P32 | IOSTANDARD = LVTTL | PULLUP;
NET "sum" LOC = P50 | IOSTANDARD = LVTTL | PULLUP;
NET "carry" LOC = P40 | IOSTANDARD = LVTTL | PULLUP;

