NET "a" LOC = P41;
NET "a" IOSTANDARD = LVTTL;
NET "a" PULLUP;
NET "b" LOC = P35;
NET "b" IOSTANDARD = LVTTL;
NET "b" PULLUP;
NET "c" LOC = P33;
NET "c" IOSTANDARD = LVTTL;
NET "c" PULLUP;
NET "pwr" LOC = P32;
NET "pwr" IOSTANDARD = LVTTL;
NET "pwr" PULLUP;
NET "sum" LOC = P50;
NET "sum" IOSTANDARD = LVTTL;
NET "sum" PULLUP;
NET "carry" LOC = P40;
NET "carry" IOSTANDARD = LVTTL;
NET "carry" PULLUP;

